#detail {
    margin-top: 70px;
    text-align: center;
    align-items: center;
}

#img {
    margin-bottom: 20px;
}

.product-info {
    margin-bottom: 20px;
}

.btn-info {
    margin-bottom: 50px;
}